[buildout]
parts = mirror mirror-cfg mirror-hourly
mirror-home = http://pypi.med.unc.edu

[mirror]
recipe = zc.recipe.egg:scripts
eggs = z3c.pypimirror

[dirs]
recipe = z3c.recipe.mkdir
mirror-base =${buildout:directory}/mirror
mirror-files = ${:mirror-base}/files
paths = ${:mirror-files}

[mirror-cfg]
recipe = collective.recipe.template
input = ${buildout:directory}/pypimirror.cfg.in
output = ${buildout:directory}/pypimirror.cfg
mirror-url = ${buildout:mirror-home}
mirror-path = ${dirs:mirror-files}
lockfile = ${buildout:directory}/mirror.lock
logfile = ${dirs:mirror-base}/mirror.log

[mirror-hourly]
recipe = z3c.recipe.usercrontab
times = @hourly
command = ${buildout:directory}/bin/pypimirror -U ${buildout:directory}/pypimirror.cfg $2> ${buildout:directory}/error.log


